
/* about */
body
{
    background-color: grey;
}
ul 
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:white;
    font-family: Arial, Helvetica, sans-serif;
    
}
li a
{
    display: inline-block;
    margin: 14px 16px 14px 16px;
}
.active
{
    float: right;

}
.name
{
    padding: 20px;
    float: left;
    background-color: blue;
    color:white;
}
#picture
{
    float:left;
    height: 250px;
    width: 250px;
    padding: 0;
}
#cheese
{
     width: 50%;
    height:450px;
    margin: 12%;
    background-color: white;
    border: solid  grey;
    padding:5%;
}
#p
{
    padding: 13px;
    margin: 12;
    font-family: Arial, Helvetica, sans-serif;
}
.footer {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color:grey;
    color: white;
    text-align: center;
    border-top: 15% color lightblue;
}

/* contact */
#text
{
    width: 500px;
    height: 500px;
    background-color:white;
    
}
  
#box
{
    background-color: white;
    border: hidden;
    padding: 5%;
    /* margin:  15%; */
}
ul li
{
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
}
#p1
{
    height: 20px;
}
#hei
{
    width: 450px;
    height: 400px;
    margin: 5px; 
    float: left;
    
} 
#send
{
    background-color: lightblue;
}
#music
{
    width: 600px;
    height: 400%;
     margin: 100px;
    float: left;
}
#overwatch
{
    width: 600px;
    height: 450px;
    margin: 2px;
    float:right;
}
#ana
{

    float: left;
    margin: 5px;
    width: 550px;
}
.eh
{
    background-color: white;
    width: 75%;
    border: hidden;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
}
.clearfix::after
{
    content: "";
    clear: both;
    display: table;
}
#reaper
{
    width:450px;
    height: 350;
}