.me 
{
    padding: 0%;
    margin: 5%;
    text-decoration:  blue underline;
    font-weight: bold;
    text-align: center;
}
.container
{
    font-style: italic;
}
.title
{
    text-align: center;
}

.contact
{
    text-align: center;
    margin-top: 5%;
}
.links
{
    text-align: center;
    padding: 5%;
    text-decoration: aliceblue underline;
    margin: 5%;
    
}